<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liljeholmen best weather</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <h2>Optimala vädret för Liljeholmen:</h2>

        <p>Källa: <span th:text="${origin}"></span></p>
        <p>Datum och tid: <span th:text="${time}"></span></p>
        <p>Temperatur: <span th:text="${temp}"></span> °C</p>
        <p>Relativ luftfuktighet: <span th:text="${humidity}"></span>%</p>
    </div>
</body>
</html>